@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    /* Primitive */
    --color-primary-500:   oklch(61% 0.16 360);
    --color-secondary-500: oklch(67% 0.14 221);
    --color-success-500:   oklch(67% 0.14 138);
    --color-warning-500:   oklch(72% 0.14 77);
    --color-error-500:     oklch(66% 0.16 25);
    --color-neutral-50:    oklch(98% 0.01 68);
    --color-neutral-900:   oklch(23% 0.01 68);
    --radius-base:         1rem;

    /* Semantic */
    --color-bg:            var(--color-neutral-50);
    --color-fg:            var(--color-neutral-900);
    --color-primary:       var(--color-primary-500);
    --color-primary-text:  oklch(98% 0 0);
    --color-secondary:     var(--color-secondary-500);
    --color-success:       var(--color-success-500);
    --color-warning:       var(--color-warning-500);
    --color-error:         var(--color-error-500);
    --color-border:        oklch(89% 0.01 68);
    --color-muted:         oklch(92% 0.01 68);
    --color-muted-fg:      oklch(53% 0.01 68);
    --color-shadow:        none;

    /* Component */
    --btn-radius:    var(--radius-base);
    --input-radius:  var(--radius-base);
    --card-radius:   calc(var(--radius-base) * 2);
    --card-padding:  1.5rem;
    --card-shadow:   var(--color-shadow);
  }

  [data-theme="dark"] {
    --color-bg:       oklch(23% 0.01 68);
    --color-fg:       oklch(97% 0.01 68);
    --color-border:   oklch(63% 0.01 68);
    --color-muted:    oklch(28% 0.01 68);
    --color-muted-fg: oklch(73% 0.01 68);
  }
}
